.bar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(92, 43, 240);
  padding: 15px 35px;
}
.homeLink {
  display: inline-flex;
  padding-top: 5px;
  text-decoration: none;
  color: aliceblue;
}
input {
  background-color: rgb(109, 94, 239);
  border-style: none;
  color: aliceblue;
  width: 200px;
  height: 30px;
  /* background-image: url(../../images/magnifying-glass-10-svgrepo-com.png); */
}
input::placeholder {
  color: rgb(196, 196, 243);
}
.barText {
  margin: 10px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: white;
}
