.topRow {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
}
.list {
  padding: 10px 40px;
}
.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.flag {
  width: 80px;
  height: 80px;
}
